<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-color: #f5f5f5;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 1.5;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortner</h1>

    <% if (locals.name) { %>
    <p>🎉 Welcome <%= locals.name.split(" ")[0] %> !</p>
    <% } %>

    <% if (locals.id) { %>
    <div>
      <p>
        Short URL:
        <a href="<%= `http://localhost:8002/url/${locals.id}` %>"
          ><%= `http://localhost:8002/url/${locals.id}` %></a
        >
      </p>
    </div>
    <% } %>

    <div>
      <form method="POST" action="/url">
        <label> Enter URL: </label>
        <input type="text" name="url" placeholder="https://example.com/..." />
        <button type="submit">Generate</button>
      </form>
    </div>
    <br />
    <div>
      <% if (locals.urls) { %>
      <table>
        <thead>
          <tr>
            <th>S/N</th>
            <th>Short ID</th>
            <th>Redirect URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortID %></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% })%>
        </tbody>
      </table>
      <% } else { %>
      <p> <a href="/">back to homepage</a> </p>
      <% } %>
    </div>
  </body>
</html>
